<!doctype html>
<!--
The exp.html is the main form that
controls the experiment.

see comments throughout for advice
-->
<html>

<head>
  <title>Psychology Study</title>
  <meta charset="utf-8">

  <!-- libraries used in your experiment
  psiturk specifically depends on underscore.js, backbone.js and jquery
-->
  <script src="../static/lib/jquery-min.js" type="text/javascript">
  </script>
  <script src="../static/lib/underscore-min.js" type="text/javascript">
  </script>
  <script src="../static/lib/backbone-min.js" type="text/javascript">
  </script>
  <script src="../static/lib/TweenMax.min.js"></script>
  <script src="../static/lib/CustomEase.js"></script>

  <script src="../static/js/jspsych/jspsych.js" type="text/javascript"></script>
  <script src="../static/js/jspsych/plugins/jspsych-html-keyboard-response.js" type="text/javascript"></script>
  <script src="../static/js/jspsych/plugins/jspsych-fullscreen.js" type="text/javascript"></script>
  <script src="../static/js/jspsych/plugins/jspsych-html-button-response.js" type="text/javascript"></script>
  <script src="../static/js/jspsych/plugins/jspsych-brms.js" type="text/javascript"></script>
  <script src="../static/js/jspsych/plugins/jspsych-brms-test.js" type="text/javascript"></script>
  <script src="../static/js/jspsych/plugins/jspsych-survey-likert.js" type="text/javascript"></script>
  <script src="../static/js/jspsych/plugins/jspsych-survey-text.js" type="text/javascript"></script>
  <script src="../static/js/jspsych/plugins/jspsych-survey-multi-choice.js" type="text/javascript"></script>
  <script src="../static/js/jspsych/plugins/jspsych-image-button-response.js" type="text/javascript"></script>

  <script src="../static/js/utils.js" type="text/javascript">
  </script>


<!--
  <script type="text/javascript">
    // These fields provided by the psiTurk Server
    var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
    var condition = "{{ condition }}"; // the condition number - 0 is male, 1 is female
    var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
    var mode = "{{ mode }}";
  </script> 
-->

  <!-- utils.js and psiturk.js provide the basic psiturk functionality -->
  <script src="../static/js/utils.js" type="text/javascript">
  </script>
  <!-- <script src="/static/js/psiturk.js" type="text/javascript">
  </script> -->

  <link href="../static/css/jspsych.css" rel="stylesheet" type="text/css"></link>

  <script src="../static/js/task.js" type="text/javascript"></script>

</head>

<body>

  <noscript>
    <h1>Warning: Javascript seems to be disabled</h1>
    <p>This website requires that Javascript be enabled on your browser.</p>
    <p>Instructions for enabling Javascript in your browser can be found
      <a href="http://support.google.com/bin/answer.py?hl=en&answer=23852">here</a><p>
      </noscript>
</body>

</html>
